@font-face {
    font-family: "brankovic";
    src: url('brankovic.ttf');
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
div.hero-unit>h1, a.brand {
    font-family: 'brankovic',sans-serif;
}
ul.nav-pills>li {
    background: #e8f6ff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}