<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title -%}EventViz - {{ page|title }}{%- endblock %}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="Mathieu D.">
    <!-- CSS -->
    {% block css -%}
        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.css") }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap-responsive.css") }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/eventviz.css") }}"/>
    {%- endblock %}
    <!-- END CSS -->
</head>
<body>
{% include 'header.html' %}
<div class="container">
    {% block body -%}{%- endblock %}
</div>
<!-- Javascript -->
{% block javascript -%}
    <script type="text/javascript" src="{{ url_for('static', filename="js/jquery-1.9.1.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.js") }}"></script>
{%- endblock %}
<!-- END Javascript -->
</body>
</html>
