<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Event details</h4>
        </div><!-- /.modal-header -->
        <div class="modal-body">
            <dl class="dl-horizontal">
                {% for field in event %}
                <dt>{{ field }}</dt>
                <dd>{{ event[field] }}</dd>
                {% endfor %}
            </dl>
        </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
