<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button class="button navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand eventviz" href="{{ url_for('main.index') }}">EventViz</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{ 'active' if page == 'home' else '' }}">
                        <a href="{{ url_for('main.index') }}"><i class="icon-home"></i> Home</a>
                    </li>
                    {% if current_project %}
                        <li class="{{ 'active' if page == 'timeline' else '' }}">
                            <a href="{{ url_for('timeline.index') }}"><i class="icon-eye-open"></i> Timeline</a>
                        </li>
                        <li class="{{ 'active' if page == 'search' else '' }}">
                            <a href="{{ url_for('search.index') }}"><i class="icon-search"></i> Search</a>
                        </li>
                    {% endif %}
                </ul>
            {% if current_project %}
                <ul class="nav navbar-nav navbar-right">
{#                    <li class="nav-divider"></li>#}
                    <li><p class="navbar-text">{{ current_project|replace('_', ' ')|title }}</p></li>
{#                    <li class="nav-divider"></li>#}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</nav>
