{% extends 'base.html' %}
{% block body -%}
<h1 class="eventviz">EventViz</h1>
<br>
<ul>
    <li>Available projects: <small>{{ stats|length-1 }}</small></li>
    <ul>
    {% for project in stats %}
        {% if project != '__total_events' %}
            {% if project == current_prj %}
                <li>&rarr; {{ project }}: <small>{{ stats[project] }} events</small></li>
            {% else %}
                <li><a href="{{ url_for('main.index', project=project) }}">{{ project }}</a>: <small>{{ stats[project] }} events</small></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <li>Total: <small>{{ stats.__total_events }} events</small></li>
</ul>
{%- endblock %}
