{% extends 'base.html' %}
{% block body -%}
<div class="hero-unit">
<h1>EventViz</h1>
<br>
<ul>
    <li>Available projects: <small>{{ stats|length-1 }}</small></li>
    <ul>
    {% for project in stats %}
        {% if project != '__total_events' %}
            <li><a href="{{ url_for('main.index', project=project) }}">{% if project == current_prj %}&rarr; {% endif %}{{ project|title|replace('_', ' ') }}</a>: <small>{{ stats[project] }} events</small></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <li>Total: <small>{{ stats.__total_events }} events</small></li>
</ul>
</div>
{%- endblock %}
