{% extends 'base.html' %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
    div.search-form {
        text-align: center;
    }
    </style>
{%- endblock %}

{% block body -%}
    <form class="form-inline form-search" action="{{ url_for('search.index', project=project) }}" method="POST">
        <fieldset>
            <div class="row">
                <div class="col-lg-4">
                    <label for="search-etype"></label>
                    <select class="form-control" name="search-etype" id="search-etype">
                        {% for event_type in event_types %}
                            <option value="{{ event_type }}">{{ event_type }}</option>
                        {% endfor %}
                    </select>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <label for="search-field"></label>
                    <select class="form-control" name="search-field" id="search-field">
                        {% for field in fields %}
                            <option value="{{ field }}">{{ field }}</option>
                        {% endfor %}
                    </select>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <label for="search-type"></label>
                    <select class="form-control" name="search-type" id="search-type">
                        <option value="equals">equals</option>
                        <option value="contains">contains</option>
                        <option value="regex">matches regex</option>
                    </select>
                </div><!-- /.col-lg-4 -->
                <br><br>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <label for="query"></label>
                    <input type="text" name="query" id="query" placeholder="Search Query" class="form-control" />
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5" style="position: relative; left: 3%;">
                    <button class="btn btn-primary btn-lg" type="submit">Search!</button>
                </div><!-- /.col-lg2.col-lg-offset-5 -->
            </div><!-- /.row -->
        </fieldset>
    </form>
    <hr>
    {% if results %}
    <div class="row">
        <div class="col-lg-12 search-results">
            <table class="table table-stripped table-bordered table-hover table-condensed" id="results">
                <thead>
                    <tr>
                    {% for result_field in result_fields %}
{# FIXME: find a way to display headers correctly using CSS #}
                        <th>{{ result_field }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            {% for result_field in result_fields %}
                                <td>{{ result[result_field] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.col-lg-12.search-results -->
    </div><!-- /.row -->
    {% endif %}
{%- endblock %}

{% block javascript -%}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#results').tablesorter();
    });
    </script>
{%- endblock %}
