{% extends 'base.html' %}

{% block css -%}
    {{ super() }}
    {% assets 'css_timeline' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{%- endblock %}

{% block body -%}
    <div class="row">
        <div class="span12">
            <form class="form-inline" action="{{ url_for('timeline.index', project=g.current_project) }}" method="POST">
                <fieldset>
                    <label for="show-fields">Change displayed fields</label>
                    <select name="fields" id="show-fields" multiple="multiple">
                        {% for field in event_fields %}
                            <option value="{{ field }}">{{ field }}</option>
                        {% endfor %}
                    </select>
                    <label for="group-by">Group by</label>
                    <select name="group" id="group-by">
                        {% for field in event_fields %}
                            <option value="{{ field }}">{{ field }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-small">Update View</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div id="timeline">
                <noscript>JavaScript is required to display the timeline.</noscript>
            </div>
        </div>
    </div>
    {% for event in events %}
    <div id="{{ event._id }}" class="modal hide fade" tabindex="-1"
         role="dialog" aria-labelledby="{{ event._id }}" aria-hidden="true">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="{{ event._id }}">{{ event.time }}</h3>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
            {% for field in event %}
                <dt>{{ field }}</dt>
                <dd>{{ event[field] }}</dd>
            {% endfor %}
            </dl>
        </div>
    </div>
    {% endfor %}
{%- endblock %}

{% block javascript -%}
    {{ super() }}
    {% assets  'js_timeline' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        var eventIdRegex = /.*([a-f0-9]{24}).*/;
        function onEventSelect() {
            var selected = timeline.getSelection();
            console.log(selected);
        }
        function drawVisualization() {
            var data = {{ data|tojson|safe }};
            data.forEach(function(item, index) {
                item['start'] = new Date(Date.parse(item['start']));
            });
            var options = {
                "cluster": true,
                "groupsChangeable": false,
                "showNavigation": true,
                "axisOnTop": true
            };
            var timeline = new links.Timeline(document.getElementById('timeline'));
            timeline.draw(data , options);
        }
        $(document).ready(function() {
            drawVisualization();
            $('.timeline-event-box').click(function() {
                var eventID = eventIdRegex.exec($(this).attr('class'))[1];
                $('#'+eventID).modal();
            });
        });
    </script>
{%- endblock %}
