{% extends 'base.html' %}

{% block css -%}
    {{ super() }}
    {% assets 'css_timeline' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{%- endblock %}

{% block body -%}
    <form role="form" action="{{ url_for('timeline.index', project=g.current_project) }}" method="POST">
        <fieldset>
        <div class="row">
            <div class="col-lg-6">
            <label for="show-fields">Change displayed fields</label>
            <select class="form-control" name="fields" id="show-fields" multiple>
                {% for field in event_fields %}
                    <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
            </select>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
            <label for="group-by">Group by</label>
            <select class="form-control" name="group" id="group-by">
                {% for field in event_fields %}
                    <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
            </select>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br>
        <div class="row">
            <div class="col-lg-12 col-lg-offset-5">
            <button type="submit" class="btn btn-primary vertical">Update View</button>
            </div><!-- /.col-lg-12.col-lg-offset-5 -->
        </div><!-- /.row -->
        </fieldset>
    </form>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div id="timeline">
                <noscript>JavaScript is required to display the timeline.</noscript>
            </div><!-- /.timeline -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    {% for eid in events %}
        <div class="modal fade" id="{{ eid }}" tabindex="-1" role="dialog" aria-hidden="true">
        </div><!-- /.modal.fade -->
    {% endfor %}
{%- endblock %}

{% block javascript -%}
    {{ super() }}
    {% assets  'js_timeline' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        $(document).ready(function() {
            initTimeline({{ data|tojson|safe }});
        });
    </script>
{%- endblock %}
