{% extends 'base.html' %}
{% block body -%}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills nav-stacked">
                {% for project in stats %}
                    <li><a href="{{ url_for('main.project_timeline', project=project) }}">
                        {{ project|title|replace('_',' ') }}: <small>{{ stats[project] }} events</small>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endblock %}